<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collegeproject.watertank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="L&apos;EAU App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginAppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/LoginAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:label="L&apos;EAU App"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ServiceRequestActivity" />
        <activity android:name=".HardwareConfirmActivity" />
        <activity android:name=".NotificationActivity"
            android:label="Notifications"
            ></activity>
    </application>

</manifest>